<!--
 * @Author: 殷清贺 987746808@qq.com
 * @Date: 2022-10-27 17:15:37
 * @LastEditors: 殷清贺 987746808@qq.com
 * @LastEditTime: 2022-11-01 17:26:28
 * @FilePath: \HTMLd:\C#\python\Django\django_2022\bms\templates\book_add.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="en">

<head>
    {%load static%}

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{%static 'js/bootstrap.min.css'%}">
</head>

<body>

<h1>展示页面</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="" novalidate method="post">
                {%csrf_token%}
                {% for field in form_obj%}
                <div class="form-group {%if field.errors.0%} has-error {% endif%}">
                    <label for="{{field.id_for_label}}">{{field.label}}</label>
                    {{field}}
                    <span class="text-danger">{{field.errors.0}}</span>
                </div>
                {%endfor%}
                <input type="submit">

            </form>
        </div>
    </div>
</div>
    <!-- <form action="/time_op/">
        <input type="date" name="date" value="date1">
        <input type="time" name="time" value="time1">
        <input type="color" name="color" value="color1">
        <input type="datetime-local" name="datetime-local" value="datetime-local1">
        <input type="month" name="month" value="month1">
        <input type="number" name="number" value="number1">
        <input type="range" name="range" value="range1">
        <input type="reset" name="reset" value="reset1">
        <input type="search" name="search" value="search1">
        <input type="week" name="week" value="week1">
        <input type="button" name="button" value="button1">
        <input type="image" name="image" value="image1">
        <input type="submit">

    </form> -->

</body>

</html>